# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\01. Neloy The Web Developer\Laravel Final Project\studentManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
